/* Self-hosted fonts (SIL Open Font License 1.1, see OFL-*.txt). Served from snipring.com so no visitor data goes to third parties. */
@font-face{font-family:"Karantina";font-weight:400;font-style:normal;font-display:swap;src:url(karantina-400.woff) format("woff")}
@font-face{font-family:"Karantina";font-weight:700;font-style:normal;font-display:swap;src:url(karantina-700.woff) format("woff")}
@font-face{font-family:"IBM Plex Sans Hebrew";font-weight:400;font-style:normal;font-display:swap;src:url(plexhe-400.woff) format("woff")}
@font-face{font-family:"IBM Plex Sans Hebrew";font-weight:500;font-style:normal;font-display:swap;src:url(plexhe-500.woff) format("woff")}
@font-face{font-family:"IBM Plex Sans Hebrew";font-weight:600;font-style:normal;font-display:swap;src:url(plexhe-600.woff) format("woff")}
@font-face{font-family:"IBM Plex Mono";font-weight:500;font-style:normal;font-display:swap;src:url(plexmono-500.woff) format("woff")}
